footer.footer
  .container
      .row
          .col-12.order-2.order-sm-0.col-sm-6.col-lg-3.pr-xl-5.pt-4.pt-sm-0
            h3 Newsletter
            p Duis autem vel eum iriure dolor in  hendrerit in vulputate velit esse molestie consequat, vel illum dolore.
            form.row.justify-content-sm-between.footer__form.mx-0
                input.w-auto(type="email", placeholder="Subscribes...")
                button.ml-3.ml-sm-0(type="submit") Go 
          .col-12.order-1.order-sm-1.col-sm-6.col-lg-3.pr-xl-5.pt-4.pt-sm-0
            h3 Latest News
            a.row.footer__news(href="#")
                .col-auto.pr-0
                    img(src="img/news-post1.jpg", alt="news logo") 
                .col.col-md-8
                    p Postformat Gallery: Multiple  images
                    p October 21, 2013 - 3:31 pm
            a.row.footer__news(href="#")
                .col-auto.pr-0
                    img(src="img/news-post2.jpg", alt="news logo") 
                .col.col-md-8
                    p Postformat Gallery: Multiple  images
                    p October 21, 2013 - 3:31 pm
          .col-12.order-0.order-sm-2.col-sm-6.col-lg-3.pr-xl-5.pt-sm-3.pt-lg-0
            h3 Tags
            .row.ml-0
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Agent Login.
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Customer Login.
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Not a Member?.
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Contact.
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") New Horizons.
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Landscape.
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Tags
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Nice
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Some
                .col-auto.footer__tag.pl-0.pr-1
                    a(href="#") Portrait
          .col-12.order-3.order-sm-3.col-sm-6.col-lg-3.pr-xl-5.pt-4.pt-sm-3.pt-lg-0.footer__address
            h3 Address
            p DieSachbearbeiter Schönhauser Allee 167c,10435 Berlin Germany
            p.footer__email E-mail:
                a(href="#") leha.pol@mail.ru
            .row.footer__social
                .col-auto.pl-0
                    a(href="#")
                        i.icon-facebook
                .col-auto.pl-0
                    a(href="#")
                        i.icon-twitter
                .col-auto.pl-0
                    a(href="#")
                        i.icon-tumblr
                .col-auto.pl-0
                    a(href="#")
                        i.icon-pinterest-circled
